* {
    box-sizing: border-box;
}

.article {
    border: 1px solid rgba(0,0,0,0.3);
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 0 1em 1em 1em;
    line-height: 1.5;
}

.titre-article {
    border-bottom: 1px dashed #7b7b7b;
}

.detail-article {
    color: #7b7b7b;
    text-align: center;
}

.detail-article p {
    text-align: justify;
    padding: 1em .5em 0;
}

a {
    display: inline-block;
    color: #fff;
    background-color: mediumpurple;
    padding: .5em;
    text-decoration: none;
    border-radius: 200px/50px;
}